body {
  font-family: "Poppins", sans-serif;
  margin: 50px 200px 0 200px;
  background-color: hsl(210, 3%, 29%);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  color: lightblue;
  text-align: center;
}

.creative {
  color: salmon;
}

div > div {
  font-size: 2rem;
  color: aliceblue;
}

.tile-image {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

footer {
  text-align: right;
  color: rgb(148, 148, 235);
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  div > div {
    font-size: 1.2rem;
    color: aquamarine;
  }
  .tile-image {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
  }
  .card-title {
    color: white;
  }
  body {
    margin: 50px 50px 0 50px;
  }
}






